<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.foodListMapper">
    <select id="selectFood" resultType="food">
        select * from foodList
        <trim suffixOverrides="and" prefix="where">
            <if test="food.id != null">id=#{food.id} and</if>
            <if test="food.name != null">username=#{food.name} and</if>
            <if test="food.canteen!=null">canteen=#{food.canteen} and</if>
            <if test="food.floor !=null">password=#{food.floor}</if>
        </trim>
    </select>

    <insert id="insertFood">
        insert into foodList value(#{food.id},#{food.name},#{food.canteen},#{food.floor});
    </insert>

    <update id="updateFood">
        update foodList set
        <trim suffixOverrides=",">
            <if test="food.name != null">name=#{food.name} ,</if>
            <if test="food.canteen!=null">canteen=#{food.canteen} ,</if>
            <if test="food.floor !=null">floor=#{food.floor}</if>
        </trim>
        where id=#{food.id};
    </update>

    <delete id="deleteFoodById">
        delete from foodList where id=#{id};
    </delete>
</mapper>